<div class="content">
  <div>
    <h1 class="title">Login</h1>
    <p>
      <a class="link" style="color: rgb(185, 185, 185)" href="/signup">
        Need an account?
      </a>
    </p>

    <form>
      <input formControlName="username" placeholder="Username" type="text" />

      <input
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      <p>
        <a class="link" style="color: rgb(185, 185, 185)" href="/forgot">
          Forgot your password?
        </a>
      </p>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
