<div class="content">
  <div>
    <h1 class="title">Sign Up</h1>
    <p>
      <a style="color: rgb(185, 185, 185)" href="/login">Have an account?</a>
    </p>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div *ngIf="hasError" class="error">
        <div *ngFor="let error of errors['username'] ">
          {{error}}
        </div>
      </div>
      <input placeholder="Username" type="text" formControlName="username">

      <div *ngIf="hasError" class="error">
        <div *ngFor="let error of errors['email'] ">
          {{error}}
        </div>
      </div>
      <input placeholder="Email" type="text" formControlName="email">

      <div *ngIf="hasError" class="error">
        <div *ngFor="let error of errors['mobile_number'] ">
          {{error}}
        </div>
      </div>
      <input placeholder="Mobile Number" 
      (keypress)="keyPress($event)" 
      maxlength="10"
      type="text" formControlName="mobile_number">

      <div *ngIf="hasError" class="error">
        <div *ngFor="let error of errors['password'] ">
          {{error}}
        </div>
      </div>
      <input placeholder="Password" type="password" formControlName="password" >

      <div *ngIf="hasError" class="error">
        <div *ngFor="let error of errors['password2'] ">
          {{error}}
        </div>
      </div>
      <input placeholder="Repeat Password" type="password" formControlName="password2" >
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
