<p-card header="Sign Up" subheader="Welcome to Yovoco" [style]="{ width: '400px' }" styleClass="p-card-shadow">
  <form [formGroup]="signupForm">
    <div class="field">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="username" required />
        <label for="float-input">Username</label>
      </span>
    </div>
    <div class="field">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="email" />
        <label for="float-input">Email</label>
      </span>
    </div>
    <div class="field">
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="mobile_number"
          maxlength="10"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        <label for="float-input">Phone</label>
      </span>
    </div>
    <div class="field mb-3">
      <span class="p-float-label">
        <input id="float-input" type="password" pInputText formControlName="password" />
        <label for="float-input">Password</label>
      </span>
    </div>
    <div class="field mb-3">
      <span class="p-float-label">
        <input id="float-input" style="width: 100%" type="password" pInputText formControlName="password2" />
        <label for="float-input">Confirm Password</label>
      </span>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Submit" icon="pi pi-check" (click)="onSubmit()"></p-button>
  </ng-template>
</p-card>
<p-toast></p-toast>
