<p-card title="Search">
  Body Content
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="onSearch()"
      label="Search"
      icon="pi pi-search"
      [loading]="isLoading"></button>
  </ng-template>
</p-card>
<br />
<p-card title="Search">
  <p-table
    [value]="vocabularies"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
      <tr>
        <th>Word</th>
        <th>POS</th>
        <th>Phonetic</th>
        <th>Meaning</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vocabulary>
      <tr>
        <td>{{ vocabulary.word }}</td>
        <td>{{ vocabulary.pos }}</td>
        <td>{{ vocabulary.phonetic }}</td>
        <td>{{ vocabulary.meaning }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</p-card>
