<p-card header="Sign In" subheader="Welcome to Yovoco" [style]="{ width: '400px' }" styleClass="p-card-shadow">
  <form [formGroup]="signinForm">
    <div class="field">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="username" required />
        <label for="float-input">Username</label>
      </span>
    </div>
    <div class="field mb-3">
      <span class="p-float-label">
        <input id="float-input" type="password" pInputText formControlName="password" />
        <label for="float-input">Password</label>
      </span>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Submit" icon="pi pi-check" (click)="onSubmit()"></p-button>
  </ng-template>
  <a routerLink="/forgot-password">Forgot Password?</a> <br />
  <a routerLink="/register">You don't have an account?</a>
</p-card>
<p-toast></p-toast>
