@import '../../styles/style-colors';
@import '../../styles/style-typography';
@import '../../styles/style-dimensions';

header {
  display: flex;
  background-color: $bgColorLight01;
  position: relative;
  align-items: center;
  border-bottom: 10px solid $bgColorDark01;
  margin: 0;
  .icon img {
    width: 12rem;
    height: 6rem;
  }
  .info {
    margin-right: $second--margin;
    position: absolute;
    font-size: $h6--font-size;
    right: 0;
    font-weight: bold;
    display: flex;
    .user {
      padding-right: $base--padding;
      color: $accent01;
    }
    .logout {
      padding-left: $base--padding;
      color: $Hyperlink;
    }
  }
}
