<div class="layout-sidebar">
  <ion-avatar>
    <img
      src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
      alt="" />
  </ion-avatar>

  <div class="layout-menu">
    <div class="menu-category">
      <div class="menu-category-info">
        <ion-icon class="menu-category-icon" name="person"></ion-icon>
        <div class="menu-category-label">Personal</div>
        <ion-icon name="arrow-dropleft"></ion-icon>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Profile</div>
        <div class="menu-item-label">Friends</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <ion-icon class="menu-category-icon" name="albums"></ion-icon>
        <div class="menu-category-label">Collection</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <ion-icon class="menu-category-icon" name="cube"></ion-icon>
        <div class="menu-category-label">Vocabulary</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <ion-icon class="menu-category-icon" name="book"></ion-icon>
        <div class="menu-category-label">Study</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <ion-icon class="menu-category-icon" name="document"></ion-icon>
        <div class="menu-category-label">Quiz</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
  </div>
</div>
