<div class="layout-sidebar">
  <div class="layout-menu">
    <div class="menu-category">
      <div class="menu-category-info">
        <div class="menu-category-label">Personal</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Profile</div>
        <div class="menu-item-label">Friends</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <div class="menu-category-label">Collection</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <div class="menu-category-label">Vocabulary</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <div class="menu-category-label">Study</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
    <div class="menu-category">
      <div class="menu-category-info">
        <div class="menu-category-label">Quiz</div>
      </div>
      <div class="menu-item">
        <div class="menu-item-label">Overview</div>
        <div class="menu-item-label">Management</div>
      </div>
    </div>
  </div>
</div>
